.grid--form {
  grid-template-areas:
          "fields"
          "button";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
}

.form {
  border: 3px solid black;
  min-height: 50vh;
  width: 50vw;
  padding: 1rem 1rem 0;

  &__button {
    grid-area: button;
    align-self: end;
    margin-bottom: 1rem;
  }

  &-fields {
    grid-area: fields;
  }
}